/* Add this CSS in your stylesheet */
.appointment-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-content {
  text-align: center;
}

.big-text {
  font-size: 44px;
  font-family: 'poppins';
  font-weight: bold;
  margin: 10px 0;
}
.success-message {
  padding: 20px;
  border: solid;

  border-image: linear-gradient(45deg, rgb(244, 184, 231), rgb(134, 26, 132)) 1;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}